<!doctype html>
<head>
	<title>Cavatica Usage</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<body>
<h1> Cavatica User Data </h1>
<div class="divTable" style="width: 25%;">
	<div class="divTableBody">
		<div class="divTableRow">
			<div class="divTableCell">Date</div>
			<div class="divTableCell"># of Users</div>
		</div>
		{% for i in range(rows) %}
		<div class="divTableRow">
			<div class="divTableCell"><a href="{{ url_for('.more_info', date=names[i] ) }}">{{dates[i].date()}}</a></div>
			<div class="divTableCell">{{counts[i]}}</div>
		</div>
		{% endfor %}
	</div>
</div>
</body>
