body {
	background-color: #2f3f4f;
}

h1 {
	text-align: center;
	color: #ffffff;
	font-family: "Helvetica";
	font-size: 75px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.form {
		width: 300px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
		margin: auto;
}

div.image {
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}

div.table {
	display: inline-block;
	padding: 20px;
}

div.all {
	margin: auto;
	display: block;
	text-align: center;
}

.divTable{
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #ffffff;
	display: table-cell;
	padding: 15px;
	color: #ffffff;
	font-family: "Helvetica";
}

a {
	color: #ffffff;
}

a:hover {
	color: #808080;
}

a:visited {
	color: #ffffff;
}

div.button{
	display: block;
	text-align: center;
	margin: auto;
}

a.button {
	background-color: #f2f2f2;
	border: none;
	font-family: "Helvetica";
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

a.button:visited {
	color: black;
}

button {
	background-color: #f2f2f2;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
