<!doctype html>
<head>
	<title>Cavatica Usage</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<body>
<h1> Cavatica User Data </h1>
<div class="button">
<a href="{{url_for('index')}}" class="button">New Search</a>
</div>
<br>
<div class="all">
<div class="table">
<div class="divTable">
	<div class="divTableBody">
		<div class="divTableRow">
			<div class="divTableCell">Date</div>
			<div class="divTableCell"># of Users</div>
		</div>
		{% for i in range(rows) %}
		<div class="divTableRow">
			<div class="divTableCell"><a href="{{ url_for('.more_info', date=names[i], sort='none', switch=1 ) }}">{{dates[i].date()}}</a></div>
			<div class="divTableCell">{{counts[i]}}</div>
		</div>
		{% endfor %}
	</div>
</div>
</div>
<div class="image">
{% if rows>0 %}
<img src="{{ url_for('static', filename = 'graph.png', v=today) }}"/>
{% endif %}
</div>
</div>
</body>
